@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-image img{
        width: 80%;
    }
   
   
   
}





@media screen and (min-width: 577px) and (max-width: 960px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 200px;
    }
    
    
}