@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
    }
    .banner-container
    {
        flex-direction: column-reverse;
    }
   .gamer-container{
    flex-direction: column;
   }
   .gamer-image img{
    width: 100%;
   }
   .gamer-content{
    margin-right: 50px;
   }
   .online-game-container{
    flex-direction: column;
    text-align: center;
   }
   .play-instantly-container{
    flex-direction: column;
   }
   
   
   
}





@media screen and (min-width: 577px) and (max-width: 960px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 200px;
    }
    .gamer-container{
        flex-direction: column;
       align-items: right;
       }
    .online-game-container{
      flex-direction: column;
      text-align: center;
    }
    .play-instantly-container{
        flex-direction: column;
       }
}