* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 48px;
  background: #ff42a5;
  padding: 15px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}
.btn-secondary {
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}
.heading-title {
  font-size: 3rem;
  font-weight: 700;
  color: #8758f1;
}
.heading-decription {
  color: #534c64;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* navbar section start */
nav {
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 0;
}
.nav-logo {
  display: flex;
}
.nav-heading {
  font-size: 2.82rem;
  font-weight: 700;
}
.nav-logo img {
  width: 86.041px;
  height: 40px;
}
.nav-logo-span {
  font-size: 2.82rem;
  font-weight: 700;
  color: #636268ee;
  margin-left: 20px;
}
.nav-menus {
  display: flex;
}
.nav-menus ul {
  display: flex;
}
.nav-menus li {
  list-style: none;
  margin-right: 15px;
  margin-top: 10px;
}
.nav-menus li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #3c354f;
}
.font-awesome-icon {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 30px;
}
.font-awesome-icon a {
  margin-right: 15px;
  text-decoration: none;
  text-decoration: none;
  font-size: 1.125rem;
  color: #3c354f;
}
.font-awesome-icon i {
  margin-right: 15px;
  color: #0f0f0f;
}
/* navbar section end */

/* banner section start */
#gamer-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.banner-container {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content h3 {
  font-weight: 600;
  color: #0b0223;
  font-size: 2.82rem;
}
.banner-content h1 {
  font-size: 5.93rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ed56f5;
}
.text-and-icon div {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.text-and-icon div p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.text-and-icon div i {
  margin-right: 10px;
}
.banner-image img {
  width: 100%;
}

.gamer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.purpoose {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px;
}
.unleash {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}
/* we are gammer section end */

/* online game section start */
#online-games {
  max-width: 800px;
  margin: 0 auto;
}
.online-heading {
  text-align: center;
  margin-bottom: 20px;
}
.online-game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  cursor: pointer;
  /* margin: 0 auto; */
}
.online-game-container:hover .text-and-icon{
  visibility: visible;
}
.text-and-icon{
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 200;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  visibility: hidden;
  /* border-radius: 10px; */
}
.text-and-icon p{
  margin-bottom: 1.2rem;
}
/* online game section end */

/* play instantly section start */
#play-instantly {
}
.play-instantly-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.play-instantly-content {
  margin: 100px;
}
.play-instantly-image {
  position: relative;
  bottom: 200px;
  right: 300px;
}
.play-instantly-main-image {
  width: 90%;
}
.play-instantly-span{
  color: #0B0223;
}
/* play instantly section end */

/* button card section card start */
#games-button{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.button-card-container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.button-card {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  padding: 5px 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: 0.5s;

}
.button-card:hover {
  border: 1px solid red;
  cursor: pointer;
  
}
.button-card h5:hover {
  color:#f6cae0;
}
.button-card h5 {
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
}



/* button card section card end */

/* footer section start */
footer{
  max-width: 1900px;
  height: 500px;
 margin: 0 auto;
  background: #0B0223;
}
.footer-logo{
  display: flex;
  justify-content: center;
  padding: 50px;
  
}

.footer-logo h2{
  color: white;
}
.footer-item{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 800px;
  text-align: center;
  margin: 0 auto;
  
}
.footer-item p{
  color: white;
}

footer li{
  list-style: none;
  margin-right: 15px;
  margin-top: 30px;
}
footer li a{
  text-decoration: none;
  color: white;
}
.footer-font-aswome-icon{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  width: 700px;
}
.footer-font-aswome-icon i{
  margin-right: 20px;
  margin-top: 15px;
  font-size: 30px;
  color: white;
}
.font-awesome-icon a{
  text-decoration: none;
}
.footer-teams-conditaion{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.60);
  width: 700px;
}
.footer-copyright{
  margin-top: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
}
/* footer section end */

@media screen and (max-width: 576px) {
  .button-card-container,
  .footer-item,
  .footer-font-aswome-icon
  
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    align-items: center;
    width: 300px;
    margin: 0 auto;

  }
  .footer-teams-conditaion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 300px;
  }
  .footer-copyright{
    text-align: center;
  }
  .button-card-container{
    margin-right: 200px;
  }
  .button-card{
    width: 125px;
  }
  
}

@media screen and (min-width:577px) and (max-width:960px) {
  .button-card-container,
  .footer-item,
  .footer-font-aswome-icon
  
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 300px;
    align-items: center;

  }
  .footer-teams-conditaion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 300px;
  }
  .footer-copyright{
    text-align: center;
  }
 .button-card-container{
  justify-content: center;
 }
  .button-card{
    width: 150px;
  }
   
}

