* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
nav {
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 0;
}
.nav-logo {
  display: flex;
}
.nav-heading{
    font-size: 2.82rem;
    font-weight: 700;
}
.nav-logo img {
  width: 86.041px;
  height: 40px;
}
.nav-logo-span {
  font-size: 2.82rem;
  font-weight: 700;
  color: #636268ee;
  margin-left: 20px;
}
.nav-menus {
  display: flex;
}
.nav-menus ul {
  display: flex;
}
.nav-menus li {
  list-style: none;
  margin-right: 15px;
  margin-top: 10px;
}
.nav-menus li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #3c354f;
}
.font-awesome-icon {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 30px;
}
.font-awesome-icon a {
  margin-right: 15px;
  text-decoration: none;
}
.font-awesome-icon i{
    margin-right: 15px;
    color: #0F0F0F;
}
